<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!-- 
        Setting to switch between MySQL and SQL Server Database
        Allowed Values are MySQL or SQL
    -->
    <add key="BackendProvider" value="SQL"/>

  </appSettings>

  <connectionStrings>

    <!-- SQL Server Connection String Dev Environment-->
    <add name="SQLServerDBConnectionString" connectionString="Data Source=wsd014;Initial Catalog=RGenUAT;User ID=sa;Password=ROOT#123;"/>
    <!--<add name="SQLServerDBConnectionString" connectionString="Data Source=SRVSPS8;Initial Catalog=RGenUATTest;User ID=uattest;Password=newuser@123;"/>-->
    <!-- SQL Server Connection String TestEnvironment -->
    <!--add name="SQLServerDBConnectionString" connectionString="Data Source=wsd014;Initial Catalog=RGenUATTest;User ID=sa;Password=ROOT#123;"/-->

    <!-- Uncomment this line for testing environment deployment -->
    <!--<add name="SQLServerDBConnectionString" connectionString="Data Source=wsd014;Initial Catalog=RGenUATTest;User ID=sa;Password=ROOT#123;"/>-->
    
    <!--Connection string from US Server-->
    <!--<add name="SQLServerDBConnectionString" connectionString="Data Source=UATFS01;Initial Catalog=RGenUATTest;User ID=uatdbadmin;Password=Newuser@123;"/>-->

    <!-- MySQL Server Connection String -->
    <add name="MySQLServerDBConnectionString" connectionString="Connectionstring goes here"/>

  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
    <system.serviceModel>
     <!--For Large Data to be send by the service.-->
     <bindings>
            <basicHttpBinding>
              <binding name="basicHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00" >
                    <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
            </basicHttpBinding>
        </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
     <service behaviorConfiguration="mexBehavior" name="TTSHServiceLayer.TTSHTool">
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
       bindingName="bb" contract="TTSHServiceLayer.ITTSHTool" />
      <host>
       <baseAddresses>
        <add baseAddress="http://localhost:28844" />
       </baseAddresses>
      </host>
     </service>
    </services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>     
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <!--<system.serviceModel>
    <services>
      <service name="TTSHServiceLayer">
        --><!-- Basic HTTPs Binding --><!--
        <endpoint address="bb" binding="basicHttpBinding" contract="TTSHServiceLayer.ITTSHTool" bindingConfiguration="securedChannelBinding"></endpoint>

        --><!-- Basic HTTP Binding to run in WCF Test Client--><!--
        --><!--<endpoint address="bb" binding="basicHttpBinding" contract="TTSH.ServiceLayer.IUATTool"></endpoint>--><!--

        --><!-- RESTFull Service configuration on secured channel--><!--
        <endpoint address="" binding="webHttpBinding"  behaviorConfiguration="endpointBehaviorRESTFullEnabled" contract="TTSH.ServiceLayer.IUATTool"></endpoint>


      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"  />
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
    </standardEndpoints>

    <behaviors>
      <endpointBehaviors>

        --><!-- Enable Web HTTP Request--><!--
        <behavior name="endpointBehaviorRESTFullEnabled">
          <webHttp/>
          <CorsSupport />

        </behavior>

      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="CorsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <bindings>

      <webHttpBinding>

        <binding   maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 transferMode="Streamed"
                 sendTimeout="00:05:00">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>

          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

        </binding>
      </webHttpBinding>

      <basicHttpBinding>
        <binding name="securedChannelBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>

    </bindings>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

  </system.serviceModel>-->


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->

    <!--httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Content-Type, Accept,loggedinuserspuserid,access-control-allow-origin,access-control-allow-headers,access-control-allow-methods,access-control-max-age" />
      <add name="Access-Control-Allow-Methods" value="GET, POST,PUT,DELETE" />
</customHeaders>
    </httpProtocol>-->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All"
        propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\UATServiceLayer\TracingAndLogging-service.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

</configuration>
