<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

		<!-- 
        Setting to switch between MySQL and SQL Server Database
        Allowed Values are MySQL or SQL
    -->
		<add key="BackendProvider" value="SQL"/>

		<!-- Keys for LDAP Authentication -->
		<add key="ADserver" value="192.168.0.109" />
		<add key="AdminGroup" value="Administrators" />
		<add key="UserGroup" value="RUser" />
		<add key="DomainName" value="RSINNGP" />
		<add key="MenuIdAdmin" value="209" />
		<add key="MenuIdUser" value="210" />


	</appSettings>

	<connectionStrings>

		<!-- SQL Server Connection String Dev Environment-->
		<!--<add name="SQLServerDBConnectionString" connectionString="Data Source=srvsps6;Initial Catalog=TTSH_CRIO;User ID=ttsh_crio;Password=Newuser@123;"/>-->
  <!--<add name="SQLServerDBConnectionString" connectionString="Data Source=wsd014;Initial Catalog=TTSH_CRIO15July;User ID=sa;Password=ROOT#123;"/>-->
    <!--<add name="SQLServerDBConnectionString" connectionString="Data Source=wsd002;Initial Catalog=TTSH_CRIO15July;User ID=sa;Password=ROOT#123;"/>-->
    <add name="SQLServerDBConnectionString" connectionString="Data Source=192.168.0.110;Initial Catalog=TTSHTemp;User ID=sa;Password=ROOT#123;"/>
  </connectionStrings>


	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>


	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="wsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"  />
					
			</wsHttpBinding>
		</bindings>
		<serviceHostingEnvironment  minFreeMemoryPercentageToActivateService="0"  aspNetCompatibilityEnabled="true"/>
		<standardEndpoints>
			<webScriptEndpoint>
				<standardEndpoint name=""  crossDomainScriptAccessEnabled="true" ></standardEndpoint>
				
			</webScriptEndpoint>
			<webHttpEndpoint  >
				<standardEndpoint name="" helpEnabled="true" crossDomainScriptAccessEnabled="true" automaticFormatSelectionEnabled="true"></standardEndpoint>
			</webHttpEndpoint>
				</standardEndpoints>
		<services>
			<service behaviorConfiguration="serviceBehavior" name="TTSHWCFLayer.TTSHWCFService">
				<endpoint address="" behaviorConfiguration="jsonEndpointBehavior"
				  binding="webHttpBinding" name="json" contract="TTSHWCFLayer.ITTSHWCFService">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
				<endpoint address="wsHttpBinding" behaviorConfiguration="wsHttpBinding"
				  binding="wsHttpBinding" bindingConfiguration="" name="wsHttpBinding"
				  contract="TTSHWCFLayer.ITTSHWCFService">
				</endpoint>
				<host>
					<baseAddresses>
						<!--<add baseAddress="http://localhost:28844" />-->
            <!--<add baseAddress="http://192.168.0.113:2879" />-->
            <add baseAddress="http://192.168.1.195:2879" />
          
					</baseAddresses>
				</host>
			</service>

		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="jsonEndpointBehavior">
					<enableWebScript />
					
				</behavior>
				<behavior name="wsHttpBinding" />
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553500"/>
				</behavior>
   
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="webHttpBinding" scheme="http" />
		</protocolMapping>
		
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration ="false"/>
	
	</system.webServer>

 

</configuration>
